*{
    font-family :'Edu NSW ACT Foundation', cursive;
     list-style: none;
     padding: 0;
     margin: 0;
}



nav{
    display : flex;
    align-items : center;
    justify-content : space-between;
    /* padding-top : 45px;
    padding-left : 8%;*/
    padding-right : 8%;
    padding-bottom: 10%;
    background-color: transparent;
    color: aliceblue;
}
nav ul li{
    list-style-type : none;
    display : inline-block;
    padding : 10px 25px;
}
nav ul li a{
    color : white;
    text-decoration : none;
    font-weight : bold;
    text-transform : capitalize;
}
nav ul li a:hover{
      color :#f9004d;
      transition : .4s;
}

body{
    background: #333;
    text-transform: uppercase;
}
h1{
    text-align:center;
}
h3{
    margin: 5px;
}
.skill{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);  
  /*  background-image: url(https://i.postimg.cc/Qd44KDqC/pexels-emiliano-arano-2127969.jpg);*/
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8);  
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236,0,140,1)0%, rgba(252,103,103,1)100%); 
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 60%;
    animation: css 3s;
}
.bootstrap{
    width: 55%;
    animation: bootstrap 3s;
}
.dsa{
    width: 60%;
    animation: dsa 3s;
}
.javascript{
    width: 30%;
    animation: javascript 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
} 
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes bootstrap{
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}
@keyframes dsa{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}