html {
    scroll-behavior: smooth;
  }

  a {
    opacity: 1;
    transition: opacity 1s;
  }
  
  a:hover {
    opacity: 2;
    transition-delay: 2s;
  }
  
.back-to-top {
    position: fixed;
    bottom: 90px;
    right: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
}
.sticky_mail
{ position: fixed;
  bottom: 50px;
  right: 20px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
}


#new_about_me {
    display:block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto auto auto auto;
    max-width: 900px;
    text-align:left;
    font-family: arial;
    padding: 50px;
    transition: 0.3s;
}
#new_about_me:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


#intro{
    display: flex; 
    align-content: center;
}
nav>ul {
    list-style-type: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #333;
    position: -webkit-sticky;
    position:sticky;
    top: 0;
}

.option {
    float: left;
}

.option a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.option a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


header {
    text-align: center;
}

#Portfolio_header {
    font-size: 2.5em;
}
.caption{
    width: 100%;
}

#Profile {
    max-width: 80%;
    border-radius: 50%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    transition: 0.3s;
}

.title {
    color: grey;
    font-size: 18px;
}

.button_Edu {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

#Contact {
    color: white;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(0, 0, 0);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.button_Edu:hover,
.card a:hover {
    opacity: 0.7;
}

h2 {
    text-align: center;
}


footer{
    background-color: #333;
  
  }
#rights{
    background-color: #333;
    text-align: right;
    color: white;
}
.fa-envelope , .fa-linkedin , .fa-facebook , .fa-instagram ,.fa-spotify {
        color: #4CAF50;
}








.skill_card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
}

.skill_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.skill_img {
    width: 10%;
    border-radius: 5px 5px 0 0;
}

.skill_container {
    padding: 2px 16px;
}
#skill {
    display: grid;
    align-content: space-around;
    grid-template-columns: auto auto;
    width: 80%;
    gap: 30px;
    padding: 30px;
}



.test_score_card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;;
    border-radius: 5px;
    margin :auto;
}

.test_score_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.test_score_img {
    width: 20%;
    border-radius: 5px 5px 0 0;
}

.test_score_container {
    padding: 2px 16px;
}
#test_score {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto  ;
    width: auto;
    gap: 30px;
    padding: 30px;
}


.project_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */
    margin: auto;
    text-align: center;
    font-family: arial;
}
.project_card a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(76, 36, 219);
}

.project_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: baseline;
}


input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Style the container */
  .container {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  /* Style the heading */
  h1 {
    text-align: center;
  }